table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/* TODO: Add your primary and secondary styling below! */
.primary-button, .apply-button {
  background-color:rgb(46, 171, 46);
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px;
  color: white;
}

.secondary-button {
  background-color: rgb(249, 249, 249);
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}